@import "~bootstrap/scss/bootstrap";

.height-20 {
  height: 20vh;
}

.bg-action-movies {
  background: no-repeat center/100% url("/assets/bg_action_movies_weapon.webp");
}

.bg-westerns {
  background: no-repeat center/100% url("/assets/bg_westerns_0.jpg");
}

.bg-gangsters {
  background: no-repeat center/100% url("/assets/bg_gangsters_0.jpg");
}

.bg-detectives {
  background: no-repeat center/100% url("/assets/bg_detectives_1.webp");
}

.headers-text-properties {
  color: white;
  font-weight: bold;
}
