$main_color: #fadfad;

.height-20 {
  height: 20vh;
}

.main-theme {
  &-background {
    background: $main_color;
  }
  &-color {
    color: $main_color;
  }
}

.emblem {
  &-size {
  width: 56px;
  height: 42px;
  }
  &-text {
    color: white;
    font-weight: bold;
  }
}
