.home-page_background_action-movies {
  background: no-repeat center/100% url("../../../images/bg_action_movies001.png");
}

.home-page_background_westerns {
  background: no-repeat center/100% url("../../../images/bg_westerns000.png");
}

.home-page_background_gangsters {
  background: no-repeat center/100% url("../../../images/bg_gangsters000.png");
}

.home-page_background_detectives {
  background: no-repeat center/100% url("../../../images/bg_detectives001.png");
}
