<hr />
<div class="container-fluid" style="height: 15vh; justify-content">
  <div class="row">
    <div class="col">
      <a class="navbar-brand" style="color: black; text-decoration: none" href="<%= root_path %>" >
        <%= image_tag('emblem.png', class: 'emblem-size_mini') %>
        cinematichub
      </a>
    </div>
    <div class="col">2022</div>
    <div class="col">
      Designed for: 
      <%= link_to ":iTechArt", "https://stlab.itechart-group.com" %>
    </div>
    <div class="col">
      Developer: 
      <%= link_to nil, "https://github.com/alhimick-prog" %>
    </div>
  </div>
</div>